{% for loja in lojasList %}
    <div class="card mb-3 m-auto" style="max-width: 540px;">
        <div class="row g-0">
            <img src="{{ loja.image.url }}" class="img-fluid m-auto" alt="..."
                         style="padding: 16px; max-height: 300px; object-fit: contain">
        </div>
            <div class="row g-0">
                <div class="col">
                    <div class="card-body">
                        <div class="mb-5">
                            <h5 class="card-title">{{ loja.brand }}</h5>
                            <p class="card-text">{{ loja.description }}</p>
                        </div>
                        <div>
                            <a href="{% url 'ColinaDoSol:dboard_editar_loja' loja.id %}"
                               class="btn btn-outline-success"><i
                                    class="fa-solid fa-pen-to-square form-input-icon"></i>Editar</a>
                        </div>
                    </div>
                </div>
            </div>

    </div>
{% endfor %}
