{% extends "ColinaDoSol/login-form-template.html" %}
{% load static %}
{% load django_bootstrap5 %}
{% load custom_filters %}

{% block content %}
    <h2 class="fw-bold mb-2 text-uppercase">Criar Password</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-outline form-white mb-4">
                {{ field|add_css_class:"form-control form-control-lg" }}
                {{ field.label_tag }}
            </div>
            {% if field.errors %}
                <div class="text-danger">{{ field.errors }}</div>
            {% endif %}
        {% endfor %}
        <input class="btn btn-outline-dark btn-lg px-5" type="submit" value="Entrar">
    </form>
    <a href="{% url 'ColinaDoSol:index' %}" class="link-secondary">Regressar</a>
{% endblock content %}