{% extends "ColinaDoSol/Dashboard/dashboard.html" %}
{% load static %}
{% block content %}
    {% load bootstrap5 %}

    <div class="row storesPage">
        <div class="col">
            <div class="row">
                <div class="col colTitle">
                    <h3>
                        <i class="fa-solid fa-history"></i> Atividade dos Utilizadores
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive">
                    <table id="actions-table" class="table">
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>Action</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for action in logs %}
                            <tr>
                                <td>{{ action.user.username }}</td>
                                <td>{{ action.action|safe }}</td>
                                <td>{{ action.date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">

    <script>
        $(document).ready(function () {
            $('#actions-table').DataTable({
                "language": {
                    paginate: {
                        next: 'Próxima',
                        previous: 'Anterior',
                    },
                    "search": "Pesquisar:",
                    "lengthMenu": "Apresentar _MENU_ registos por página",
                    "zeroRecords": "Nenhum registo encontrado",
                    "info": "Apresentando _PAGE_ de _PAGES_ páginas",
                    "infoEmpty": "Não existem registos",
                    "infoFiltered": "(filtered from _MAX_ total records)"
                },
                "order": [[2, "desc"]]
            });
        })
        ;
    </script>

{% endblock content %}