{% extends "ColinaDoSol/login-form-template.html" %}
{% load custom_filters %}

{% block content %}
    <h2 class="fw-bold mb-2 text-uppercase">Recuperar Password</h2>
    <p>Introduza o seu email para recuperar a password</p>

    <form method='post'>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-outline form-white mb-4">
                {{ field|add_css_class:"form-control form-control-lg" }}
                {% comment %}{{ field.label_tag }}{% endcomment %}
            <p>Email</p>
            </div>
            {% if field.errors %}
                <div class="text-danger">{{ field.errors }}</div>
            {% endif %}
        {% endfor %}
        <input class="btn btn-outline-dark btn-lg px-5" type="submit" value="Entrar">
    </form>
{% endblock %}