{% extends "ColinaDoSol/login-form-template.html" %}
{% load custom_filters %}

{% block content %}

{% if validlink %}

<h1>Redefina a sua password</h1>
<form method="POST">
  {% csrf_token %}
        {% for field in form %}
            <div class="form-outline form-white mb-4">
                {{ field|add_css_class:"form-control form-control-lg" }}
                {{ field.label_tag }}
            </div>
            {% if field.errors %}
                <div class="text-danger">{{ field.errors }}</div>
            {% endif %}
        {% endfor %}
        <input class="btn btn-outline-dark btn-lg px-5" type="submit" value="Alterar Password">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
{% endblock %}