{% extends "ColinaDoSol/Dashboard/dashboard.html" %}
{% load static %}
{% block content %}

    <div class="row storesPage">
        <div class="col storeCol">
            <div class="row">
                <div class="col colTitle">
                    <h3>
                        <i class="fa-solid fa-bullhorn"></i> Anúncios
                    </h3>
                </div>
                {% if request.user.is_authenticated and request.user.role == "ADMIN" or request.user.is_superuser %}

                    <div class="col top_btns_lojas">
                        <button type="button" class="btn btn-success pull-right"
                                onclick="location.href='{% url 'ColinaDoSol:dboard_novo_anuncio' %}'">
                            <i class="fa-solid fa-plus "></i>Adicionar
                        </button>
                    </div>
                {% endif %}

            </div>

            <div class="storeUL">
                {% include 'ColinaDoSol/Dashboard/DashboardElements/anuncioListItem.html' %}
            </div>

        </div>
    </div>



{% endblock content %}