{% extends "ColinaDoSol/Dashboard/dashboard.html" %}
{% load static %}
{% block content %}

    <div class="col">
        <div class="row  bg-white ">
            <div>
                <a href="{% url 'ColinaDoSol:dboard_lojas' %}"><i
                        class="fa-solid fa-circle-left backArrow mb-5 backPageBtn"></i></a>
            </div>
            <div>
                <h3 class="pageT">
                    <i class="fa-solid fa-bullhorn"></i> Novo Artigo
                </h3>
            </div>
        </div>

        <div class="row" style="padding-top: 18px">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-success" name=""><i
                                class="fa-solid fa-floppy-disk form-input-icon"></i>Guardar
                        </button>
            </form>
        </div>
    </div>

{% endblock content %}